[user]
        name = 
        email = 
[core]
        editor = vim
        autocrlf = input
[push]
        default = simple
[alias]
        up = pull --rebase --prune

        delete-merged-branches = "!git checkout master && git up && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
