# This is Git's per-user configuration file.
[user]
    name = 
    email = 
[core]
        editor = vim
        autocrlf = input
[push]
        default = simple
[alias]
	    defaultbranch = "!f() { git symbolic-ref refs/remotes/origin/HEAD | cut -d/ -f4; }; f"

        up = pull --rebase --prune
        rb='git rebase -i `git merge-base head origin/$(git defaultbranch)`'

        delete-merged-branches = "!git checkout $(git defaultbranch) && git up && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[diff]
        tool = vimdiff
[difftool]
        prompt = false
        trustExitCode = true
[merge]
        tool = vimdiff
